/* mobile */
.calendar_page {
  width: 100vw;
  overflow: hidden;
}
/* tablet */
@media screen and (min-width: 768px) {
  .calendar_page {
    width: 85vw;
    position: relative;
    top: 0;
  }
}

/* pc */

@media screen and (min-width: 1280px) {
  .calendar_page {
    width: 85vw;
  }
}
