.rbc-calendar {
}

.rbc-row .rbc-date-cell {
  font-family: apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  flex: 1 1;
  min-width: 0;
  padding-right: 5px;
  text-align: center;
}
/* 툴바 */
.rbc-toolbar {
  display: flex;
  position: fixed;
  top: 10px;
  z-index: 101;
}
.rbc-btn-group {
  margin: 0 20px;
}
.rbc-toolbar .rbc-toolbar-label {
  text-align-last: left;
}
/* 헤더 */
.rbc-header {
  border-bottom: none;
  font-weight: normal;
}

.rbc-off-range-bg {
  background-color: #fff;
}

.rbc-date-cell > a {
  font-size: 0.8rem;
}
