/**** mobile *****/
.rbc-row .rbc-date-cell {
  flex: 1 1;
  min-width: 0;
  padding-right: 5px;
  text-align: center;
}
/* 이벤트 바 */
.rbc-day-slot .rbc-background-event,
.rbc-event {
  cursor: default;
}
.rbc-event-content {
  color: #fff;
  cursor: default;
}
/* 헤더 */
.rbc-header {
  border-bottom: none;
  font-weight: normal;
}

.rbc-off-range-bg {
  background-color: #fff;
}

.rbc-date-cell > a {
  font-size: 0.8rem;
}
.rbc-toolbar {
  margin: 10px;
}
.rbc-btn-group {
  margin: 0 20px;
}
.rbc-btn-group {
  display: flex;
  align-items: center;
}

/* 툴바 */

.rbc-toolbar {
  justify-content: space-evenly;
}
.rbc-toolbar .rbc-toolbar-label {
  padding: 0 20px;
}
/**** tablet ****/
@media screen and (min-width: 768px) {
  .rbc-month-view {
    border-top: none;
  }
  /* 툴바 */
  .rbc-toolbar {
    position: fixed;
    top: 4px;
    z-index: 101;
    margin: 0;
  }
  .rbc-toolbar .rbc-toolbar-label {
    text-align-last: left;
  }
}

/* pc */

@media screen and (min-width: 1280px) {
}
