/**** mobile *****/
.rbc-row .rbc-date-cell {
  flex: 1 1;
  min-width: 0;
  padding-right: 5px;
  text-align: center;
}

/* 이벤트 바 */
.rbc-event-content {
  color: #fff;
}
/* 헤더 */
.rbc-header {
  border-bottom: none;
  font-weight: normal;
}

.rbc-off-range-bg {
  background-color: #fff;
}

.rbc-date-cell > a {
  font-size: 0.8rem;
}
.rbc-toolbar {
  margin: 10px;
}
.rbc-btn-group {
  margin: 0 20px;
}

/* tablet */
@media screen and (min-width: 768px) {
  /* 툴바 */
  .rbc-toolbar {
    display: flex;
    position: fixed;
    top: 10px;
    z-index: 101;
    margin: 0;
  }
  .rbc-toolbar .rbc-toolbar-label {
    text-align-last: left;
  }
}

/* pc */

@media screen and (min-width: 1280px) {
}
