.frontline {
  max-width: 1440px;
  display: flex;
  justify-content: center;
}

/* 부트스트랩 툴팁 */

.tooltip-inner {
  max-width: 320px;
  /* If max-width does not work, try using width instead */
  text-align-last: center;
  background-color: #000;
}

/* 상자 전체 */
.frontlineItem {
  max-width: 480px;
  margin: 40px 20px;
  background-color: #eaeef1;
  border-radius: 20px;
  box-shadow: 0 13px 27px -5px rgb(50 50 93 / 25%),
    0 8px 16px -8px rgb(0 0 0 / 30%), 0 -6px 16px -6px rgb(0 0 0 / 3%);
}

/* 이미지 */
.frontline__imgBox {
  width: 100%;
  position: relative;
}
.infoBox__title {
  position: absolute;
  padding: 1rem 0;
  margin-left: 10px;
  font-size: 1.4rem;
  bottom: 0;
  color: #fff;
  z-index: 2;
}
.frontline__imgBox img {
  max-width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  filter: brightness(70%);
}
/* 인포 */
.scoreList .scoreItem {
  display: flex;
  padding: 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.frontline__infoBox {
  padding: 15px 15px;
}
.scoreList .scoreItem:last-child {
  border-bottom: none;
}
.score__title {
  min-width: 50px;
  font-weight: bold;
  margin-left: 1rem;
}
.pattern_title {
  margin-bottom: 20px;
}
.moreInfoWrap {
  margin: 2rem 0;
  padding-top: 2rem;
  display: flex;
  justify-content: flex-end;
}
.moreInfo {
  width: 100%;
  display: block;
  background-color: #2c87f0;
  color: #fff;
  text-decoration: none;
  padding: 1rem 0;
  text-align: center;
  border-radius: 10px;
}
.moreInfo:hover {
  background-color: #1a73e8;
}

.descOfPattern {
  margin: 10px 0;
  margin-left: 10px;
}

/* tablet */
@media screen and (min-width: 768px) {
  .frontline__infoBox {
    margin: 0 28px;
    padding: 10px;
  }
  .slick-slider {
    margin: 0 50px;
  }
}

/* pc */

@media screen and (min-width: 1280px) {
}
