/* mobile */

.top-bar {
  position: fixed;
  width: 100vw;
  height: 44px;
  top: 0;
  z-index: 100;
  display: flex;
  background-color: #fff;
  z-index: 101;
}
.logo {
  font-size: 1.3rem;
  margin-left: 20px;
  line-height: 44px;
}
.logo a:hover {
  color: #000;
}
/* tablet */
@media screen and (min-width: 768px) {
  .top-bar {
    position: fixed;
    border-bottom: 1px solid #ddd;
  }
}

/* pc */

@media screen and (min-width: 1280px) {
}
