/* mobile */
.gnb {
  height: auto;
}
.nav {
  width: 100%;
  display: flex;
  position: sticky;
  position: fixed;
  top: 50px;
  border-bottom: 1px solid #000;
  z-index: 100;
}
.nav_item {
  text-align: center;
  padding: 10px;
  width: 100%;
  color: #757575;
  background-color: #fff;
}
.nav_item:hover {
  background-color: #fafafa;
}

.clicked {
  color: #000;
  font-weight: bold;
  opacity: 1;
  border-color: transparent;
}
/* tablet */
@media screen and (min-width: 768px) {
  .gnb {
    height: auto;
  }
  .nav {
    position: sticky;
    width: 15vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    border-bottom: none;
  }

  .nav_item {
    text-align: center;
    padding: 10px 0;
  }
}

/* pc */

@media screen and (min-width: 1280px) {
}
