.gnb {
  height: auto;
}
nav {
  width: 15vw;
  margin: 0;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 50px;
}

nav > a {
  text-align: center;
  padding: 10px 0;
}

nav > a:hover {
  background-color: #fafafa;
}

.clicked {
  background-image: linear-gradient(90deg, #f4f4f4 0%, #efefef 100%);
  color: #000;
  opacity: 1;
  border-color: transparent;
}
