table {
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td {
  text-align: center;
}
thead {
  background-color: #7986cb;
  color: #fff;
}
th {
  padding: 15px 10px;
  width: 200px;
  font-weight: normal;
}
td {
  margin: 0;
  border-bottom: 1px solid #dee2e6;
  padding: 5px 10px;
}

tbody tr:last-of-type {
  border-bottom: 2px solid #cccc;
}

/* 모달창 */

.modal-body tbody tr:first-child {
  background-color: #ebeeff;
}
.modal-body thead th:nth-child(2) {
  width: 100px;
}
