table {
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td {
  text-align: center;
}
thead {
  background-color: #7986cb;
  color: #fff;
}
th {
  padding: 15px 10px;

  font-weight: normal;
}
td {
  margin: 0;
  border-bottom: 1px solid #dee2e6;
  padding: 15px 10px;
}

tbody tr:last-of-type {
  border-bottom: 2px solid #7986cb;
}
