@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

body {
  font-family: "Spoqa Han Sans Neo", sans-serif;
  position: absolute;
  top: 50px;
  background-color: #fff;
}
ul {
  list-style: none;
  padding: 0;
}
h1 {
  margin: 0;
}
/* App */
.main-section {
  display: flex;
}
