@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

/* mobile */
body {
  font-family: "Spoqa Han Sans Neo", sans-serif;
  position: absolute;
  top: 100px;
  margin: 0;
  background-color: #fff;
}
ul {
  list-style: none;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
div {
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
/* App */
.main {
  display: flex;
}

/* 헤딩 타이틀 언더바 css */
.heading {
  border-bottom: 2px solid rgba(0, 0, 0, 0.08);
  padding: 8px 0;
  position: relative;
}
.heading span {
  box-sizing: border-box;
  position: relative;
}

.heading span::after {
  content: "";
  height: 2px;
  border-radius: 2px;
  background: #373a3c;
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
}
/* tablet */
@media screen and (min-width: 768px) {
  body {
    top: 50px;
  }
  .main_contents {
    width: 85vw;
  }
}

/* pc */

@media screen and (min-width: 1280px) {
}
